@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded-Light'),
        url('../fonts/Unbounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded-Regular'),
        url('../fonts/Unbounded-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded-Medium'),
        url('../fonts/Unbounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded-Bold'),
        url('../fonts/Unbounded-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Unbounded';
    src: local('Unbounded-Bold'),
        url('../fonts/Unbounded-Bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Medium'),
        url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: local('Raleway-Regular'),
        url('../fonts/Raleway-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TildaSans';
    src: local('TildaSans-Regular'),
        url('../fonts/TildaSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'TildaSans';
    src: local('TildaSans-Bold'),
        url('../fonts/TildaSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
