
/* @media (max-width: 992px) {
    .about-examples .examples__wrapper {
        grid-template-columns: repeat(6, 316px);
    }

    .about-examples .examples__item:nth-child(3) img, .about-examples .examples__item:nth-child(1) img {
        height: unset;
    }
}

@media (max-width: 600px) {
    .about-examples .examples__wrapper {
        grid-template-columns: repeat(6, calc(100vw - 32px));
    }

    .about-examples .examples__item:nth-child(3) img, .about-examples .examples__item:nth-child(1) img {
        max-width: 100%;
    }
}
 */