.about-services {
    padding: 60px 0 120px 0;
    background-color: var(--color-gray);
}

.about-services h2 {
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 80px;
}

.about-services .services-item {
    background-color: var(--color-light);
}


@media (max-width: 600px) {
    .about-services {
        padding: 80px 0;
    }

    .about-services h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 40px;
    }
}
