.about {
    padding: 242px 0 120px 0;
    min-height: 750px;
    background: center / cover no-repeat url(../../../img/about/background.webp);
}

.about__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.about__title {
    color: var(--color-light);
}

.about__title h1 {
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 24px;
}

.about__title h2 {
    font-size: 28px;
    line-height: 36px;
    max-width: 620px;
}

.about__content-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about__content-item {
    border-radius: 32px;
    background-color: #ffffff40;
    padding: 30px 40px;
    color: var(--color-light);
}

.about__item-count {
    font-size: 56px;
    line-height: 64px;
    margin-bottom: 12px;
}

.about__item-text {
    font-family: 'Inter';
}

.about-page.consultation {
    padding: 150px 0 120px 0;
}

@media (max-width: 1600px) {
    .about {
        padding: 180px 0 80px 0;
        min-height: 682px;
    }

    .about__title h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .about__title h2 {
        font-size: 24px;
        line-height: 32px;
        max-width: 520px;
    }

    .about__item-count {
        font-size: 44px;
        line-height: 64px;
        margin-bottom: 0;
    }

    .about__content-item {
        border-radius: 24px;
        padding: 20px 30px;
    }
}

@media (max-width: 1200px) {
    .about {
        padding: 140px 0 60px 0;
        min-height: 564px;
    }

    .about__title h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .about__title h2 {
        font-size: 20px;
        line-height: 26px;
        max-width: 340px;
    }
}

@media (max-width: 992px) {
    .about {
        padding: 180px 0 60px 0;
    }

    .about__title h1 {
        font-size: 34px;
        line-height: 40px;
    }

    .about__title h2 {
        margin-bottom: 44px;
    }

    .about__wrapper {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__content-item {
        border-radius: 24px;
        padding: 24px;
    }
}

@media (max-width: 600px) {
    .about {
        padding: 140px 0 80px 0;
    }

    .about__content-wrapper {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .about__title h2 {
        max-width: 100%;
    }

    .about__item-count {
        font-size: 44px;
        line-height: 56px;
    }

    .about__item-text {
        font-family: 'Inter';
    }

    .about-page.consultation {
        padding: 40px 0 80px 0;
    }
}
