.about-advantages {
    padding: 120px 0;
    background-color: var(--color-gray);
}

.about-advantages h2 {
    text-align: center;
    margin-bottom: 80px;
}

.about-advantages h2.mobile {
    display: none;
}

.about-advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about-advantages__item {
    background-color: var(--color-light);
    border-radius: 40px;
    padding: 44px;
    display: flex;
    align-items: center;
    gap: 46px;
}

.about-advantages__item h4 {
    margin-bottom: 24px;
}

.about-advantages__item .text {
    font-family: 'Inter';
}

.about-advantages__item img {
    height: 200px;
    width: 200px;
}

@media (max-width: 1600px) {
    .about-advantages__item img {
        order: -1;
        height: 160px;
        width: 160px;
    }

    .about-advantages__item {
        padding: 44px 44px 66px 44px;
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }
}

@media (max-width: 1200px) {
    .about-advantages {
        padding: 80px 0;
    }

    .about-advantages h2 {
        margin-bottom: 40px;
    }

    .about-advantages__item {
        padding: 30px 30px 48px 30px;
    }
}

@media (max-width: 992px) {
    .about-advantages__item {
        padding: 40px 20px;
        border-radius: 24px;
        gap: 24px;
    }

    .about-advantages__wrapper {
        grid-template-columns: 1fr;
    }

    .about-advantages h2:not(.mobile) {
        display: none;
    }

    .about-advantages h2.mobile {
        display: block;
    }
}
