.about {
    padding: 210px 0 80px 0;
    min-height: 100vh;
}

.about .header__nav a {
    color: var(--color-text);
}

.about__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1 {
    font-size: 52px;
    line-height: 64px;
    margin-bottom: 30px;
}

.about h2 {
    font-size: 24px;
    line-height: 29.05px;
    margin-bottom: 25px;
    font-family: 'Inter';
    text-align: center;
}

.about .text {
    margin-bottom: 60px;
    font-family: 'Inter';
    text-align: center;
    max-width: 800px;
}

.about .text.wide {
    margin-bottom: 12px;
    max-width: 1019px;
}

.about__points {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 80px;
}

.about-points__item {
    padding: 37px 71px 37px 121px;
    background-color: var(--color-gray);
    border-radius: var(--border-radius-medium);
    position: relative;
    display: flex;
    align-items: center;
}

.about-points__item .text {
    margin: 0;
    text-align: left;
}

.about-points__item::before {
    content: '';
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: var(--color-light);
    border-radius: 50%;
    left: 43px;
    top: 50%;
    transform: translateY(-50%);
}

.about-points__item::after {
    content: '';
    position: absolute;
    left: 62px;
    border-style: solid;
    border-color: var(--color-text-muted-secondary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: all .5s;
}

.about__img {
    width: 100%;
    border-radius: var(--border-radius-medium);
}

.consultation {
    padding: 150px 0 120px 0;
}

@media (max-width: 600px) {
    .about {
        padding: 122px 0 36px 0;
    }

    .about h1 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 18px;
    }

    .about h2 {
        font-size: 20px;
        line-height: 24.2px;
        margin-bottom: 20px;
    }

    .about .text {
        font-size: 16px;
        line-height: 19.36px;
        margin-bottom: 30px;
        max-width: unset;
    }

    .about__points {
        grid-template-columns: 1fr;
        gap: 12px;
        margin-bottom: 30px;
    }

    .about-points__item {
        padding: 25px 30px 25px 65px;
    }

    .about-points__item .text {
        margin: 0;
    }

    .about-points__item::before {
        height: 29px;
        width: 29px;
        left: 16px;
        top: 25px;
        transform: translateY(0);
    }

    .about-points__item::after {
        left: 26px;
        border-width: 0 1px 1px 0;
        padding: 3px;
        top: 36px;
    }

    .about__img {
       min-height: 150px;
       object-fit: cover;
    }

    .consultation {
        padding: 80px 0;
    }
}
