.about-services {
    padding: 60px 0 120px 0;
}

.about-services h2 {
    font-size: 52px;
    line-height: 64px;
    text-align: center;
    margin-bottom: 80px;
}

.about-services__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.about-services__item {
    border-radius: var(--border-radius-medium);
    overflow: hidden;
    position: relative;
}

.about-services__item img {
    width: 100%;
}

.about-services__title {
    position: absolute;
    bottom: 15px;
    left: 14px;
    width: calc(100% - 14px * 2);
    background-color: var(--color-light);
    border-radius: 30px;
    padding: 24px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-services__title p {
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    font-family: 'Inter';
}

.about-services__title button {
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium);
    padding: 10.5px 20px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
}

@media (max-width: 600px) {
    .about-services {
        padding: 40px 0 50px 0;
    }

    .about-services h2 {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .about-services__wrapper {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .about-services__item {
        min-height: 328px;
    }

    .about-services__item img {
        height: 100%;
        object-fit: cover;
    }

    .about-services__title {
        bottom: 10px;
        left: 10px;
        width: calc(100% - 10px * 2);
        border-radius: 24px;
        padding: 15px 24px;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}
