.ai-advantages {
    padding: 120px 0;
}

.ai-advantages .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ai-advantages h2 {
    margin-bottom: 44px;
    max-width: 772px;
    text-align: center;
    line-height: 64px;
}

.ai-advantages__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.ai-advantages__item {
    background-color: var(--color-gray);
    border-radius: 24px;
    padding: 30px 44px;
    color: var(--color-text);
    height: 100%;
    min-height: 264px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.ai-advantages__count {
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
    margin-bottom: 36px;
}

.ai-advantages__count span {
    font-size: 36px;
    line-height: 40px;
}

.ai-advantages__item .text {
    font-family: 'Inter';
}

.ai-advantages a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Inter';
    color: var(--color-text-muted-secondary);
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
}

@media (max-width: 1600px) {
    .ai-advantages h2 {
        font-size: 36px;
        line-height: 48px;
        max-width: 650px;
    }

    .ai-advantages__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .ai-advantages__item {
        padding: 30px 40px;
    }

    .ai-advantages__item .text {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 1200px) {
    .ai-advantages {
        padding: 80px 0;
    }

    .ai-advantages h2 {
        font-size: 28px;
        line-height: 36px;
        max-width: 730px;
    }

    .ai-advantages__item {
        min-height: 230px;
    }

    .ai-advantages__item .text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (max-width: 992px) {
    .ai-advantages h2 {
        margin-bottom: 40px;
        max-width: 478px;
    }

    .ai-advantages__wrapper {
        grid-template-columns: 1fr;
    }

    .ai-advantages__item {
        padding: 24px;
        min-height: 185px;
    }

    .ai-advantages__count {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 12px;
    }

    .ai-advantages__item .text {
        font-size: 16px;
        line-height: 19.36px;
    }
}

@media (max-width: 600px) {
    .ai-advantages h2 {
        max-width: 328px;
    }

    .ai-advantages__count {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .ai-advantages__count span {
        font-size: 30px;
        line-height: 38px;
    }

    .ai-advantages__item .text, .ai-advantages a {
        font-size: 12px;
        line-height: 14.52px;
    }
}
