.portal-about {
    padding: 80px 0 120px 0;
}

.portal-about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.portal-about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.portal-about__info {
    padding: 44px 64px;
    border-radius: var(--border-radius);
    border: 1px solid var(--color-stroke-blue);
}

.portal-about__info h3 {
    margin-bottom: 24px;
}

.portal-about__info-item {
    padding: 24px 0;
}

.portal-about__info-item .title {
    font-size: 22px;
    font-weight: 600;
    font-family: 'Inter';
    margin-bottom: 16px;
}

.portal-about__info-item .text {
    font-family: 'Inter';
}

@media (max-width: 600px) {
    .portal-about {
        padding: 60px 0 80px 0;
    }

    .portal-about__wrapper {
        display: flex;
        flex-direction: column;
    }

    .portal-about__info {
        padding: 24px;
    }

    .portal-about__info h3 {
        text-align: center;
        margin-bottom: 24px;
    }

    .portal-about__info {
        order: -1;
    }

    .portal-about__info-item {
        padding: 16px 0;
    }

    .portal-about__info-item:not(:last-child) {
        border-bottom: 1px solid #E2E2E2;
    }

    .portal-about__info-item .title {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 22px;
    }

    .portal-about__info-item .text {
        font-size: 16px;
        line-height: 19.36px;
    }

    .portal-about__img img {
        width: 100%;
    }
}
