.portal {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    padding-top: 128px;
}

.portal .header__nav a {
    color: var(--color-text);
}

.portal__wrapper {
    height: calc(100vh - 128px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.portal__inner {
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    padding: 80px 90px;
    color: var(--color-light);
    width: 100%;
    position: relative;
}

.portal__inner h1 {
    max-width: 764px;
    margin-bottom: 43px;
}

.portal__inner p {
    max-width: 650px;
    font-family: 'Inter';
    margin-bottom: 72px;
}

.portal__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 96px;
    max-height: calc(100% + 150px);
}

@media (max-width: 600px) {
    .portal__wrapper {
        height: unset;
        margin-top: 16px;
    }

    .portal__inner {
        padding: 24px 20px 0 20px;
        overflow: hidden;
    }

    .portal__inner h1 {
        word-wrap: break-word;
        margin-bottom: 20px;
    }

    .portal__inner p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .portal__button {
        width: 100%;
        margin-bottom: 50px;
    }

    .portal__img {
        position: static;
        width: 90%;
        margin-left: 50%;
        transform: translate(-50%, 0);
        height: 350px;
        object-fit: cover;
        object-position: top;
        margin-bottom: -3px;
    }
}
