.examples {
    padding: 120px 0;
}

.examples .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples h2 {
    text-align: center;
    margin-bottom: 80px;
}

.examples__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.examples__item {
    border-radius: var(--border-radius-medium);
    background-color: var(--color-gray);
    padding: 44px 60px 0 40px;
    display: flex;
    gap: 60px;
    height: 400px;
    color: var(--color-text);
}

.examples__item h4 {
    margin-bottom: 24px;
}

.examples__item-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
}

.examples__item img {
    height: 356px;
}

.examples__item img.desktop {
    max-width: 329px;
    object-fit: cover;
    margin-right: -58px;
    height: calc(100% - 44px);
}

.examples__img {
    height: 100px;
    transform: translateY(-20px);
    z-index: -1;
    display: none;
}

.examples__item.muted {
    color: var(--color-text-muted-secondary);
}

.examples__item-soon {
    font-size: 28px;
    line-height: 36px;
    font-weight: 800;
    margin-top: 80px;
    opacity: .5;
}

@media (max-width: 1600px) {
    .examples h2 {
        font-size: 28px;
        line-height: 36px;
    }

    .examples__wrapper {
        min-width: 100%;
    }

    .examples__item {
        padding: 30px 114px 30px 24px;
        display: block;
        position: relative;
        overflow: hidden;
        border-radius: 24px;
        height: 381px;
    }

    .examples__item h4 {
        max-width: 246px;
        font-size: 20px;
        line-height: 28px;
    }

    .examples__item-text {
        max-width: 256px;
        font-size: 14px;
        line-height: 18px;
    }

    .examples__item img {
        position: absolute;
        right: -30px;
        top: 53px;
    }

    .examples__item img.desktop {
        max-width: 329px;
        object-position: left;
        margin-right: -58px;
        height: calc(100% - 53px * 2);
    }

    .examples__item-soon {
        font-size: 24px;
        line-height: 32px;
        margin-top: 64px;
        max-width: 200px;
    }
}

@media (max-width: 1200px) {
    .examples {
        padding: 80px 0;
    }

    .examples h2 {
        margin-bottom: 40px;
    }

    .examples__item {
        padding: 30px 32px 30px 24px;
    }

    .examples__item h4 {
        max-width: 236px;
        line-height: 26px;
    }

    .examples__item-text {
        max-width: 230px;
        margin-right: 150px;
    }

    .examples__item img {
        right: -60px;
        height: 86%;
    }

    .examples__item-soon {
        font-size: 20px;
        line-height: 26px;
        margin-top: 32px;
        max-width: 200px;
    }

    .examples__item img.desktop {
        max-width: 329px;
        object-position: left;
        margin-right: -24px;
        top: 70px;
        height: calc(100% - 70px * 2);
    }
}

@media (max-width: 992px) {
    .examples .container {
        max-width: 100vw;
    }

    .examples__wrapper {
        display: grid;
        grid-template-columns: repeat(6, 316px);
        width: 100%;
        overflow-x: scroll;
        padding: 0 calc((100vw - 520px) / 2 - 40px);
    }

    .examples__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 24px 20px 0 24px;
        gap: 24px;
        height: 600px;
    }

    .examples__item h4 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .examples__item-text {
        max-width: unset;
    }

    .examples__item img {
        position: static;
        width: 80%;
        object-fit: contain;
        height: unset;
        margin-top: 0;
    }

    .examples__item img.desktop {
        width: 100%;
        max-height: 220px;
        object-fit: contain;
        object-position: right;
        margin-top: 0;
        margin-right: -40px;
    }

    .examples__item-text {
        margin: 0;
    }

    .examples__item-info {
        min-height: 290px;
    }

    .examples__img {
        display: block;
    }

    .examples__item picture img {
        width: 100% !important;
        height: 100% !important;
        margin-right: 0 !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 600px) {
    .examples__wrapper {
        grid-template-columns: repeat(6, calc(100vw - 32px));
        padding: 0;
    }

    .examples__item h4 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
        max-width: unset;
    }

    .examples__item-info {
        min-height: 200px;
    }

    .examples__item-text {
        max-width: unset;
    }

    .examples__item img {
        width: 250px;
    }

    .examples__item img.desktop {
        max-height: 100%;
        max-width: 400px;
        margin-right: -148px;
        margin-top: -40px;
    }

    .examples__item-soon {
        max-width: unset;
    }
}

@media (max-width: 460px) {
    .examples__item-info {
        min-height: 240px;
    }

    .examples__item img.desktop {
        max-width: 340px;
        margin-right: -74px;
        margin-top: 0;
    }
}

@media (max-width: 425px) {
    .examples__item-info {
        min-height: 280px;
    }

    .examples__item img.desktop {
        max-width: 280px;
        margin-right: -104px;
    }
}

@media (max-width: 375px) {
    .examples__item-info {
        min-height: 280px;
    }

    .examples__item img.desktop {
        max-width: 280px;
        margin-top: -30px;
        margin-right: -64px;
    }
}

@media (max-width: 330px) {
    .examples__item-info {
        min-height: 300px;
    }

    .examples__item img {
        max-width: 100%;
        width: 100%;
    }

    .examples__item img.desktop {
        max-width: 300px;
        margin-top: -30px;
        margin-right: -34px;
    }
}
