.examples {
    padding: 120px 0;
}

.examples .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples h2 {
    text-align: center;
    margin-bottom: 80px;
}

.examples__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.examples__item {
    border-radius: var(--border-radius-medium);
    background-color: var(--color-gray);
    padding: 44px 60px 0 40px;
    display: flex;
    gap: 60px;
}

.examples__item-label {
    display: inline-block;
    border-radius: 50px;
    background-color: var(--color-blue);
    padding: 8px 20px;
    color: var(--color-light);
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Inter';
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

.examples__item h4 {
    margin-bottom: 24px;
}

.examples__item-text {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 20px;
}

.examples__item img {
    height: 374px;
}

.examples__item:nth-child(3) img {
    max-width: 329px;
    object-fit: cover;
    object-position: left;
    margin-right: -58px;
    height: 340px;
}

@media (max-width: 600px) {
    .examples {
        padding: 80px 0;
    }

    .examples h2 {
        margin-bottom: 40px;
    }

    .examples__wrapper {
        display: grid;
        grid-template-columns: repeat(4, calc(100vw - 32px));
        width: 100%;
        overflow-x: scroll;
    }

    .examples__item {
        flex-direction: column;
        padding: 24px 20px 0 24px;
        gap: 40px;
    }

    .examples__item-info {
        min-height: 303px;
    }

    .examples__item img, .examples__item:nth-child(3) img {
        width: 100%;
        object-fit: contain;
    }

    .examples__item h4 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
    }

    .examples__item-text {
        font-size: 14px;
        line-height: 18px;
    }
}
