.faq {
    padding: 120px 0;
}

.faq h2 {
    text-align: center;
    margin-bottom: 80px;
}

.faq__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.faq__item {
    border-radius: var(--border-radius-medium);
    padding: 24px 24px 24px 40px;
    background-color: var(--color-gray);
    max-width: 1004px;
    cursor: pointer;
}

.faq__item.active .faq__item-header {
    margin-bottom: 12px;
}

.faq__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq__item-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
    max-width: 860px;
    color: var(--color-text);
    transition: color .5s;
}

.faq__item-arrow {
    height: 48px;
    width: 48px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.faq__item-arrow:after {
    content: '';
    border-style: solid;
    border-color: var(--color-text-muted-secondary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .5s;
}

.faq__item-content {
    font-family: 'Inter';
    overflow: hidden;
    max-height: 0;
    height: 0;
    transition: all .5s;
}

.faq__item.active .faq__item-content {
    max-height: 150px;
    height: 150px;
}

.faq__item.active .faq__item-arrow:after {
    border-color: var(--color-blue);
    transform: rotate(225deg) translate(-2px, -2px);
    -webkit-transform: rotate(225deg) translate(-2px, -2px);
}

@media (max-width: 1600px) {
    .faq {
        padding: 80px 0;
    }

    .faq__item-title {
        font-size: 20px;
        line-height: 24px;
    }
}

@media (max-width: 992px) {
    .faq h2 {
        margin-bottom: 40px;
    }

    .faq__item {
        padding: 20px 16px 20px 24px;
    }

    .faq__item-header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 12px;
    }

    .faq__item-arrow {
        height: 32px;
        width: 32px;
    }

    .faq__item-arrow:after {
        border-width: 0 1px 1px 0;
        padding: 3px;
    }

    .faq__item-title {
        font-size: 16px;
        line-height: 22px;
    }

    .faq__item.active .faq__item-header {
        margin-bottom: 24px;
    }
}
