.modal__wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    background-color: #0000006a;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .5s;
}

.modal__wrapper.active {
    opacity: 1;
    z-index: 2;
}

.modal__inner {
    width: 680px;
    padding: 40px;
    background-color: var(--color-light);
    border-radius: 40px;
    position: relative;
    overflow-y: scroll;
}

.modal__inner h2 {
    margin-bottom: 24px;
    max-width: 529px;
}

.modal__inner p {
    margin-top: 24px;
    color: #969696;
    font-family: 'Inter';
    font-size: 16px;
}

.modal__inner p a {
    color: var(--color-main);
    font-family: 'Inter';
    font-size: 16px;
    text-decoration: underline;
}

.modal__input-block {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.modal__inner img {
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}

.modal__inner button {
    margin-top: 12px;
    min-width: 227px;
    background-color: var(--color-light-blue);
}

@media (max-width: 992px) {
    .modal__wrapper {
        padding: 0 32px;
    }

    .modal__inner h2 {
        max-width: 350px;
    }
}

@media (max-width: 600px) {
    .modal__wrapper {
        padding: 0;
        background-color: var(--color-light);
    }

    .modal__inner {
        height: 100%;
        width: 100%;
        padding: 18px 24px 18px 24px;
    }

    .modal__inner h2 {
        font-size: 20px;
        line-height: 26px;
        max-width: 180px;
    }

    .modal__inner p {
        margin-top: 20px;
        font-size: 12px;
    }

    .modal__inner p a {
        font-size: 12px;
    }

    .modal__input-block {
        flex-direction: column;
    }

    .modal__inner img {
        right: 24px;
        top: 18px;
    }

    .modal__inner button {
        min-width: 100%;
    }
}