.article {
    padding: 120px 0;
}

.article__title {
    margin-bottom: 80px;
}

.article__wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--color-gray);
    border-radius: var(--border-radius);
    padding: 44px 100px;
    position: relative;
    gap: 32px;
    overflow: hidden;
}

.article__statistics {
    display: flex;
    gap: 44px;
    margin-bottom: 24px;
}

.article__views, .article__date {
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-text-muted);
}

.article__views span, .article__date span {
    font-family: 'TildaSans';
    font-weight: 700;
}

.article__views img, .article__date img {
    height: 16px;
}

.article__subtitle {
    font-size: 28px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 16px;
    max-width: 700px;
}

.article__text {
    margin-bottom: 44px;
    font-family: 'Inter';
}

.article__button {
    background-color: var(--color-light);
    color: var(--color-text);
    border-radius: 100px;
    border: none;
    padding: 18px 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.article__img-wrapper img {
    height: 424px;
    margin-bottom: -184px;
}

@media (max-width: 1600px) {
    .article__wrapper {
        padding: 44px 64px;
    }

    .article__subtitle {
        font-size: 24px;
        line-height: 32px;
    }

    .article__img-wrapper img {
        height: 310px;
        margin-bottom: -60px;
    }
}

@media (max-width: 1200px) {
    .article {
        padding: 80px 0;
    }

    .article__title {
        margin-bottom: 40px;
    }

    .article__wrapper {
        padding: 44px;
    }

    .article__img-wrapper img {
        height: 334px;
        margin-bottom: -47px;
    }
}

@media (max-width: 992px) {
    .article__wrapper {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
    }

    .article__img-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .article__img-wrapper img {
        height: 347px;
        margin-bottom: -77px;
    }

    .article__subtitle {
        font-size: 20px;
        line-height: 26px;
    }
}

@media (max-width: 600px) {
    .article {
        padding: 80px 0 40px 0;
    }

    .article__wrapper {
        padding: 24px 20px 0 20px;
    }

    .article__text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 32px;
    }

    .article__img-wrapper {
        padding: 0 20px;
        overflow: hidden;
    }
}
