.consultation {
    padding: 120px 0;
}

.consultation__img {
    position: absolute;
    top: -125px;
    right: 60px;
    opacity: 1;
    transition: all .7s;
}

.consultation__wrapper {
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    padding: 40px 64px 56px 64px;
    color: var(--color-light);
    position: relative;
}

.consultation.contacts-page, .consultation.about-page {
    padding-bottom: 0;
}

.consultation.contacts-page .consultation__wrapper, .consultation.about-page .consultation__wrapper {
    background: linear-gradient(to right, #331E64, #B37CE9);
}

.consultation__title {
    max-width: 832px;
    letter-spacing: 1px;
    margin-bottom: 44px;
}

.consultation__form {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.consultation__form button {
    padding: 10px 54px;
    background-color: var(--color-light);
    border-radius: 100px;
    border: none;
    font-size: 21px;
    font-weight: 500;
    color: var(--color-text);
}

.consultation .form__field {
    border-color: var(--color-light);
}

.consultation .form__field input {
    color: var(--color-light);
}

.consultation__input:focus ~ .consultation__label,
.consultation__input:not(:placeholder-shown) ~ .consultation__label {
    color: #ffffff8e;
}

.consultation label {
    color: var(--color-light);
}

.consultation__form button:disabled {
    background-color: #ffffff27;
    color: #ffffff93;
    cursor: not-allowed;
}

.consultation__text {
    font-size: 16px;
    font-family: 'Inter';
}

.consultation__text a {
    color: var(--color-light);
    text-decoration: underline;
    font-family: 'Inter';
}

.consultation__sended {
    min-height: 236.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.consultation__sended h2 {
    margin-bottom: 20px;
    text-align: center;
}

.consultation__sended p {
    font-size: 20px;
    font-family: 'Inter';
    text-align: center;
}

@media (max-width: 1600px) {
    .consultation__title {
        max-width: 560px;
    }

    .consultation__img {
        top: -62px;
        right: 70px;
        height: 200px;
    }
}

@media (max-width: 1200px) {
    .consultation {
        padding: 80px 0;
    }

    .consultation__wrapper {
        padding: 40px 44px 44px 44px;
    }

    .consultation__title {
        max-width: 500px;
    }

    .consultation__form {
        gap: 12px;
    }

    .consultation__img {
        top: -24px;
        height: 150px;
    }
}

@media (max-width: 992px) {
    .consultation__wrapper {
        padding: 44px 20px 44px 20px;
    }

    .consultation__title {
        font-size: 24px;
        max-width: 400px;
        margin-bottom: 24px;
    }

    .consultation__form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .consultation__form button {
        padding: 18px 0;
    }

    .consultation__img {
        top: -47px;
        right: 0;
        height: 134px;
    }

    .consultation__form button {
        margin-top: 4px;
    }

    .consultation__form .form__field:first-child, .consultation__form button {
        grid-column: span 2;
    }

    .consultation__sended {
        min-height: 352px;
    }
}

@media (max-width: 600px) {
    .consultation__title {
        max-width: 300px;
    }

    .consultation__form {
        grid-template-columns: 1fr;
    }

    .consultation__form .form__field:first-child, .consultation__form button {
        grid-column: span 1;
    }

    .consultation__form button {
        font-size: 16px;
    }

    .consultation__sended {
        min-height: 414px;
    }
}
