.footer {
    padding: 40px 0;
}

.footer * {
    font-family: 'Inter';
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__logo img {
    margin-bottom: 44px;
}

.footer p.copyright {
    font-size: 12px;
    line-height: 14.52px;
}

.footer p.copyright a {
    cursor: pointer;
    color: var(--color-main);
}

.footer p.copyright a:hover {
    text-decoration: underline;
}

.footer__nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.footer__solutions-wrapper h3, .footer__about-wrapper h3, .footer__services-wrapper h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer__solutions li, .footer__about-wrapper li {
    margin-bottom: 8px;
}

.footer__solutions li a, .footer__about-wrapper li a {
    color: var(--color-text);
    font-size: 12px;
    line-height: 14.52px;
}

.footer__solutions {
    display: grid;
    grid-template-columns: /* repeat(2, 1fr) */1fr;
    column-gap: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-wrap: nowrap;
}

.footer__contacts a {
    color: var(--color-text);
    cursor: pointer;
}

.footer__phone {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 19.36px;
}

.footer__email {
    font-size: 14px;
    line-height: 16.36px;
}

@media (max-width: 1600px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: auto 1fr auto;
        gap: 100px;
    }
    .footer__nav {
        gap: 24px;
    }
}

@media (max-width: 1600px) {
    .footer__wrapper {
        gap: 65px;
    }

    .footer__nav {
        gap: 20px;
    }

    .footer__logo img {
        height: 56px;
    }
}

@media (max-width: 992px) {
    .footer {
        padding: 20px 0;
    }

    .footer .container {
        position: relative;
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .footer__nav {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .footer__logo img {
        margin-bottom: 0;
    }

    .footer__logo p {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .footer__contacts {
        position: absolute;
        top: 20px;
        right: 40px;
    }

    .footer__solutions-wrapper h3, .footer__about-wrapper h3, .footer__services-wrapper h3 {
        font-size: 16px;
        line-height: 19px;
    }
}

@media (max-width: 600px) {
    .footer__wrapper {
        margin-bottom: 0;
    }

    .footer__logo img {
        height: 56px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 19px;
        margin-bottom: 19px;
    }

    .footer__contacts {
        top: 8px;
        right: 16px;
    }
}
