.footer {
    padding: 40px 0 48px 0;
}

.footer * {
    font-family: 'Inter';
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 44px;
}

.footer__logo img {
    margin-bottom: 44px;
}

.footer__logo p {
    font-size: 12px;
}

.footer__logo a {
    cursor: pointer;
    color: var(--color-main);
}

.footer__nav {
    display: flex;
    gap: 67px;
}

.footer__solutions-wrapper h3, .footer__about-wrapper h3, .footer__services-wrapper h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.footer__solutions li, .footer__about-wrapper li {
    margin-bottom: 8px;
}

.footer__solutions li a, .footer__about-wrapper li a {
    color: var(--color-text);
    font-size: 12px;
}

.footer__solutions {
    display: grid;
    grid-template-columns: /* repeat(2, 1fr) */1fr;
    column-gap: 20px;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-wrap: nowrap;
}

.footer__contacts a {
    color: var(--color-text);
    cursor: pointer;
}

.footer__phone {
    margin-bottom: 8px;
}

@media (max-width: 1300px) {
    .footer__nav {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .footer .container {
        position: relative;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__nav {
        margin-bottom: 80px;
    }

    .footer__logo {
        margin-bottom: 40px;
    }

    .footer__logo img {
        margin-bottom: 0;
    }

    .footer__logo p {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
    }

    .footer__contacts {
        position: absolute;
        top: 20px;
        right: 40px;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 23px 0 46px 0;
    }

    .footer__logo img {
        height: 56px;
    }

    .footer__nav {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 60px;
    }

    .footer__solutions-wrapper h3, .footer__about-wrapper h3, .footer__services-wrapper h3 {
        font-size: 16px;
    }

    .footer__contacts {
        top: 8px;
        right: 16px;
    }
}
