.contacts {
    padding: 200px 0 80px 0;
}

.contacts .header__nav a {
    color: var(--color-text);
}

.contacts h1 {
    font-size: 60px;
    line-height: 68px;
    margin-bottom: 70px;
}

.contacts__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 260px;
}

.contacts__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.contacts__label {
    background-color: var(--color-gray);
    padding: 0 25px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 38.99px;
    font-family: 'Inter';
    white-space: nowrap;
}

.contacts__content {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
    font-style: normal;
    color: var(--color-text);
    letter-spacing: .2px;
}

a.contacts__content {
    white-space: nowrap;
}

#map {
    width: 100vw;
    height: 767px;
    padding: 0;
    margin: 0;
}

@media (max-width: 1600px) {
    .contacts h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .contacts__label {
        font-size: 16px;
        line-height: 22px;
        padding: 8px 24px;
    }

    .contacts__wrapper {
        gap: 130px;
    }

    .contacts__content {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 1200px) {
    .contacts h1 {
        font-size: 34px;
        line-height: 40px;
        margin-bottom: 44px;
    }

    .contacts__label {
        font-size: 14px;
        line-height: 18px;
        padding: 8px 24px;
    }

    .contacts__wrapper {
        gap: 123px;
    }

    .contacts__content {
        font-size: 16px;
        line-height: 22px;
    }

    #map {
        height: 560px;
    }
}

@media (max-width: 992px) {
    .contacts__wrapper {
        flex-wrap: wrap;
        gap: 44px;
    }
}

@media (max-width: 600px) {
    .contacts {
        padding: 120px 0 80px 0;
    }

    .contacts h1 {
        margin-bottom: 40px;
        text-align: center;
    }

    .contacts__wrapper {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .contacts__item {
        align-items: center;
        gap: 7px;
    }

    .contacts__label {
        font-size: 16px;
        line-height: 38.99px;
        padding: 0 24px;
    }

    .contacts__content {
        font-size: 16px;
        line-height: 19.36px;
        text-align: center;
        margin-top: 8px;
    }

    #map {
        height: 340px;
    }
}
