<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/fonts.css">
    <link rel="stylesheet" href="../../static/css/common.css">
    <link rel="stylesheet" href="../../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- include libraries(jQuery, bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Терралинк</title>
</head>

<body class="wrapper">

<div class="content">
    <div class="login">
        <form class="login-form" id="login-enter-code-form">
            <div class="login__inputs">
                <div class="login__inputs-inner">
                    <div class="login__title">
                        <span class="login__title_selection">Введите</span>
                        код
                    </div>
                    <p class="login__code-info">Был направлен Вам в сообщении<br>на номер <span id="phone-number"></span></p>
                    <div class="login__input-code-wrapper">
                        <div class="login__input-code">
                            <input id="input-code-1" type="text" required>
                        </div>
                        <div class="login__input-code">
                            <input id="input-code-2"  type="text" required>
                        </div>
                        <div class="login__input-code">
                            <input id="input-code-3" type="text" required>
                        </div>
                        <div class="login__input-code">
                            <input id="input-code-4" type="text" required>
                        </div>
                        <div class="login__input-code">
                            <input id="input-code-5" type="text" required>
                        </div>
                        <div class="login__input-code">
                            <input id="input-code-6" type="text" required>
                        </div>
                    </div>
                    <div class="login__send-again">
                        <div class="login__link login__link-send">Отправить снова</div>
                        <span id="send-time">00:00</span>
                    </div>
                    <a class="login__back-link" href="./login.html">
                        <img src="../../static/assets/icons/left-arrow.svg" alt="back">
                    </a>
                </div>
            </div>
            <div class="login__btns_block">
                <button id="submit" class="custom-button login__btn">Далее</button>
            </div>
        </form>
    </div>
</div>

<script type="module" src="../../static/js/components/login/enter-code.js"></script>
</body>
</html>
