.custom-dev-consulting {
    padding: 80px 0 120px 0;
    background-color: var(--color-custom-dev);
    color: var(--color-light);
}

.custom-dev-consulting__wrapper {
    display: flex;
    gap: 20px;
}

.custom-dev-consulting__info {
    padding: 64px;
    border-radius: var(--border-radius);
    background-color: var(--color-custom-dev-light);
}

.custom-dev-consulting__info h2 {
    max-width: 436px;
    margin-bottom: 44px;
}

.custom-dev-consulting__info .text-large {
    font-family: 'Inter';
    margin-bottom: 44px;
}

.custom-dev-consulting__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    min-width: 877px;
    max-height: 600px;
}

.custom-dev-consulting__img img {
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1600px) {
    .custom-dev-consulting__info {
        padding: 44px;
        border-radius: 44px;
    }

    .custom-dev-consulting__info h2 {
        margin-bottom: 32px;
    }

    .custom-dev-consulting__img {
        border-radius: 44px;
        min-width: 607px;
        max-height: 464px;
    }

    .custom-dev-consulting__img img {
        height: 100%;
    }
}

@media (max-width: 1200px) {
    .custom-dev-consulting__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .custom-dev-consulting__img {
        min-height: unset;
        min-width: unset;
        max-height: 348px;
    }

    .custom-dev-consulting__info .text-large {
        margin-bottom: 24px;
    }
}

@media (max-width: 992px) {
    .custom-dev-consulting__wrapper {
        display: flex;
        flex-direction: column;
    }

    .custom-dev-consulting__img {
        max-height: 480px;
    }
}

@media (max-width: 600px) {
    .custom-dev-consulting {
        padding: 80px 0;
    }

    .custom-dev-consulting__info {
        padding: 30px;
        border-radius: 24px;
    }

    .custom-dev-consulting__info h2 {
        max-width: 100%;
        margin-bottom: 24px;
    }

    .custom-dev-consulting__info .text-large {
        margin-bottom: 24px;
    }

    .custom-dev-consulting__img {
        min-width: 100%;
        display: flex;
        justify-content: end;
        border-radius: 24px;
    }

    .custom-dev-consulting__img img {
        margin-right: -80px;
        height: 100%;
    }
}