.portal-problems {
    background-color: var(--color-gray);
    padding: 122px 0 80px 0;
}

.portal-problems .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.portal-problems h2 {
    text-align: center;
    margin-bottom: 80px;
}

.portal-problems__item {
    background-color: var(--color-light);
    margin-bottom: 12px;
    border-radius: var(--border-radius-medium);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 12px 12px 12px 40px;
}

.portal-problems__problem {
    padding: 24px 0 0 0;
}

.portal-problems__problem p, .portal-problems__solution p {
    font-family: 'Inter';
}

.portal-problems__problem p span, .portal-problems__note span {
    color: var(--color-main);
}

.portal-problems__problem .title, .portal-problems__solution .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
}

.portal-problems__solution {
    background-color: var(--color-gray);
    border-radius: 32px;
    padding: 24px 40px;
}

.portal-problems button {
    margin-top: 40px;
}

.portal-problems__note {
    position: absolute;
    bottom: 32px;
    left: 0;
    color: var(--color-text-muted-secondary);
    font-family: 'Inter';
}

@media (max-width: 1600px) {
    .portal-problems__solution {
        padding: 24px;
    }

    .portal-problems__note {
        display: none;
    }

    .portal-problems__problem .title, .portal-problems__solution .title {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width: 1200px) {
    .portal-problems {
        padding: 80px 0;
    }

    .portal-problems__problem .title, .portal-problems__solution .title {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    .portal-problems h2 {
        margin-bottom: 44px;
    }

    .portal-problems__item {
        display: flex;
        flex-direction: column;
        padding: 20px 16px;
        gap: 20px;
        border-radius: 24px;
    }

    .portal-problems__problem {
        padding: 0 16px;
    }

    .portal-problems__solution {
        border-radius: 20px;
    }

    .portal-problems__note {
        position: static;
        display: flex;
        width: 100%;
        gap: 8px;
    }

    .portal-problems button {
        margin-top: 44px;
        width: 100%;
    }
}

@media (max-width: 600px) {
    .portal-problems__problem {
        padding: 0 16px;
    }

    .portal-problems__problem .title, .portal-problems__solution .title {
        font-size: 16px;
    }

    .portal-problems__problem .text, .portal-problems__solution .text {
        font-size: 16px;
        line-height: 19.36px;
    }

    .portal-problems__solution {
        padding: 20px 16px;
    }
}
