.portal {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    padding-top: 128px;
}

.portal .header__nav a {
    color: var(--color-text);
}

.portal__wrapper {
    height: calc(100vh - 128px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.portal__inner {
    background-color: var(--color-blue);
    border-radius: var(--border-radius);
    padding: 80px 90px;
    color: var(--color-light);
    width: 100%;
    position: relative;
}

.portal__inner h1 {
    max-width: 764px;
    margin-bottom: 43px;
}

.portal__inner p {
    max-width: 650px;
    font-family: 'Inter';
    margin-bottom: 72px;
}

.portal__img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 96px;
    max-height: calc(100% + 150px);
}


@media (max-height: 928px) {
    .portal__inner {
        padding: 60px 70px;
    }

    .portal__inner p {
        margin-bottom: 40px;
    }
}

@media (max-height: 830px) and (min-width: 992px) {
    .portal {
        min-height: unset;
    }

    .portal__wrapper {
        height: unset;
        align-items: start;
        padding: 80px 0;
    }

    .portal__inner {
        padding: 50px 70px;
    }

    .portal__inner h1 {
        font-size: 40px;
        line-height: 52px;
    }

    .portal__img {
        max-height: calc(100% + 100px);
    }
}

@media (max-height: 830px) and (min-width: 1600px) {
    .portal__inner h1 {
        font-size: 50px;
        line-height: 54px;
        margin-bottom: 30px;
        max-width: 660px;
    }
}

@media (max-width: 1600px) {
    .portal__inner {
        padding: 64px;
    }

    .portal__inner h1 {
        max-width: 516px;
    }

    .portal__inner p {
        max-width: 400px;
        font-size: 16px;
        line-height: 22px;
    }

    .portal__img {
        right: 64px;
    }
}

@media (max-width: 1200px) {
    .portal__inner {
        padding: 44px;
    }

    .portal__inner h1 {
        margin-bottom: 34px;
    }

    .portal__inner p {
        margin-bottom: 52px;
    }

    .portal__img {
        right: 44px;
    }
}

@media (max-width: 992px) {
    .portal__wrapper {
        height: unset;
        margin-top: 44px;
    }

    .portal__inner {
        padding: 56px 44px 0 44px;
        overflow: hidden;
    }

    .portal__inner h1 {
        margin-bottom: 20px;
        max-width: 400px;
    }

    .portal__inner p {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 44px;
    }

    .portal__img {
        position: static;
        width: 100%;
        margin-left: 50%;
        transform: translate(-50%, 0);
        height: 635px;
        object-fit: cover;
        object-position: top;
        margin-bottom: -3px;
        margin-top: 60px;
    }
}

@media (max-width: 600px) {
    .portal {
        min-height: unset;
    }

    .portal__wrapper {
        height: unset;
        margin-top: 16px;
    }

    .portal__inner {
        padding: 24px 20px 0 20px;
    }

    .portal__inner h1 {
        word-wrap: break-word;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 30px;
        max-width: 300px;
    }

    .portal__inner p {
        margin-bottom: 20px;
    }

    .portal__button {
        width: 100%;
        margin-bottom: 50px;
    }

    .portal__img {
        width: 80%;
        height: 350px;
        margin-top: 0;
    }
}
