.portal-review {
    padding: 120px 0 135px 0;
}

.portal-review h2 {
    text-align: center;
    margin-bottom: 40px;
}

.portal-review__wrapper {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.portal-review__item {
    border-radius: var(--border-radius-medium);
    padding: 24px 24px 24px 40px;
    background-color: var(--color-gray);
    max-width: 876px;
    cursor: pointer;
}

.portal-review__item.active {
    background-color: var(--color-blue);
}

.portal-review__item-content {
    max-height: 0px;
    height: 0px;
    overflow: hidden;
    transition: all .5s;
    margin-top: 0;
}

.portal-review__item.active .portal-review__item-content {
    max-height: 216px;
    height: 216px;
    margin-top: 12px;
}

.portal-review__item-img {
    position: absolute;
    right: 100px;
    top: 16px;
    height: 780px;
    opacity: 0;
    transition: opacity .5s;
}

.portal-review__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portal-review__item-title {
    font-size: 22px;
    line-height: 28px;
    font-weight: 800;
    max-width: 400px;
    color: var(--color-text);
    transition: color .5s;
}

.portal-review__item.active .portal-review__item-title {
    color: var(--color-light);
}

.portal-review__item-arrow {
    height: 48px;
    width: 48px;
    background-color: var(--color-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portal-review__item-arrow:after {
    content: '';
    border-style: solid;
    border-color: var(--color-text-muted-secondary);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3.5px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: all .5s;
}

.portal-review__item.active .portal-review__item-arrow::after {
    border-color: var(--color-blue);
    transform: rotate(225deg) translate(-2px, -2px);
    -webkit-transform: rotate(225deg) translate(-2px, -2px);
}

.portal-review__item-content p {
    padding: 12px 0 12px 60px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 24px;
    max-width: 730px;
    color: var(--color-text);
    position: relative;
    transition: color .5s;
}

.portal-review__item.active .portal-review__item-content p {
    color: var(--color-light);
}

.portal-review__item-content p::before {
    content: '';
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-light);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .5s;
}

.portal-review__item-content p::after {
    content: '';
    position: absolute;
    left: 16px;
    top: 50%;
    width: 5px;
    height: 10px;
    border-style: solid;
    border-color: var(--color-text-muted-secondary);
    border-width: 0 2px 2px 0;
    -webkit-transform: translateY(-50%) rotate(45deg);
    -ms-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    transition: color .5s;
}

.portal-review__item.active .portal-review__item-content p::before {
    background-color: #ffffff40;
}

.portal-review__item.active .portal-review__item-content p::after {
    border-color: var(--color-light);
}

.portal-review__item.active .portal-review__item-img {
    opacity: 1;
}

@media (max-width: 1600px) {
    .portal-review__wrapper {
        max-width: 633px;
    }

    .portal-review__item-img {
        right: -440px;
        height: 764px;
    }

    .portal-review__item-title {
        font-size: 20px;
    }

    .portal-review__item-content p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .portal-review {
        padding: 80px 0 40px 0;
    }

    .portal-review__wrapper {
        max-width: 511px;
    }

    .portal-review__item {
        padding: 24px;
    }

    .portal-review__item-title {
        font-size: 16px;
        line-height: 22px;
    }

    .portal-review__item-content p {
        font-size: 14px;
    }

    .portal-review__item.active .portal-review__item-content {
        max-height: 234px;
        height: 234px;
    }
    .portal-review__item-img {
        right: -365px;
        height: 674px;
        top: 40px;
    }
}

@media (max-width: 992px) {
    .portal-review {
        padding: 80px 0;
    }

    .portal-review__wrapper {
        padding: 0;
        max-width: unset;
    }

    .portal-review__item {
        padding: 20px 24px;
        max-width: unset;
    }

    .portal-review__item.active {
        padding: 20px 24px 40px 24px;
    }

    .portal-review__item-img {
        position: static;
    }

    .portal-review__item-arrow {
        height: 40px;
        width: 40px;
    }

    .portal-review__item-content p::before {
        height: 24px;
        width: 24px;
    }

    .portal-review__item-content p::after {
        left: 9px;
        width: 4px;
        height: 8px;
        border-width: 0 1px 1px 0;
    }

    .portal-review__item-content p {
        padding: 8px 0 8px 40px;
        font-size: 14px;
        line-height: 18px;
    }

    .portal-review__item-img {
        object-fit: contain;
        margin-top: 24px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .portal-review__item.active .portal-review__item-content {
        max-height: 878px;
        height: 878px;
    }
}

@media (max-width: 600px) {
    .portal-review__item-header {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 12px;
        margin-bottom: 8px;
    }

    .portal-review__item-arrow {
        height: 32px;
        width: 32px;
    }

    .portal-review__item-img {
        width: 100%;
        max-height: 550px;
    }

    .portal-review__item.active .portal-review__item-content {
        max-height: 730px;
        height: 730px;
    }
}

@media (max-width: 530px) {
    .portal-review__item.active .portal-review__item-content {
        max-height: 750px;
        height: 750px;
    }
}

@media (max-width: 400px) {
    .portal-review__item.active .portal-review__item-content {
        max-height: 800px;
        height: 800px;
    }
}
