.development {
    position: relative;
    padding: 191px 0 188px 0;
    background-color: #12042C;
    color: var(--color-light);
}

.development .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.development__title {
    margin-bottom: 44px;
    text-align: center;
}

.development__text {
    margin-bottom: 32px;
    max-width: 714px;
    text-align: center;
    z-index: 1;
    font-family: 'Inter';
}

.development__img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 220px;
}

.development__tags {
    z-index: 1;
    display: flex;
    gap: 8px;
    max-width: 530px;
    flex-wrap: wrap;
    justify-content: center;
}

.development__tag {
    background-color: var(--color-light);
    color: var(--color-text);
    border-radius: 33px;
    padding: 8px 20px;
    font-family: 'Inter';
}

@media (max-width: 1600px) {
    .development {
        padding: 110px 32px 188px 32px;
    }
}

@media (max-width: 1200px) {
    .development {
        padding: 70px 32px 188px 32px;
    }
}

@media (max-width: 992px) {
    .development {
        padding: 120px 32px;
    }

    .development__img {
        display: none;
    }

    .development__tag {
        font-size: 14px;
        padding: 6px 16px;
    }
}

@media (max-width: 600px) {
    .development {
        padding: 59px 0 68px 0;
    }

    .development__title {
        margin-bottom: 39px;
    }

    .development__tags {
        padding: 0 20px;
    }

    .development__text {
        line-height: 22px;
    }
}
