.solutions {
    padding: 120px 0;
}

.solutions__title {
    text-align: center;
    margin-bottom: 80px;
}

.solutions__main {
    background-color: var(--color-blue);
    border-radius: var(--border-radius-medium);
    padding: 80px 90px 120px 90px;
    position: relative;
    margin-bottom: 80px;
    overflow: hidden;
}

.solutions__main-tag {
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #ffffff4e;
    border-radius: 50px;
    display: inline-block;
    color: var(--color-light);
    margin-bottom: 16px;
    font-family: 'Inter';
}

.solutions__main h3 {
    max-width: 533px;
    color: var(--color-light);
    margin-bottom: 30px;
}

.solutions__main p {
    max-width: 492px;
    color: var(--color-light);
    margin-bottom: 8px;
    font-family: 'Inter';
}

.solutions__imgs img {
    position: absolute;
    bottom: 0;
}

.solutions__imgs img:nth-child(1) {
    right: 320px;
    height: 90%;
    margin-top: 20px;
    margin-bottom: -68px;
}

.solutions__imgs img:nth-child(2) {
    right: 90px;
    height: 100%;
    margin-top: 20px;
    margin-bottom: -68px;
}

.solutions__main button {
    margin-top: 60px;
}

@media (max-width: 1600px) {
    .solutions__main {
        padding: 64px 64px 72px 64px;
    }

    .solutions__title {
        margin-bottom: 44px;
    }

    .solutions__imgs img:nth-child(1) {
        height: 80%;
        right: 220px;
    }

    .solutions__imgs img:nth-child(2) {
        right: 64px;
    }

    .solutions__main button {
        margin-top: 24px;
    }

    .solutions__main-tag {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 1200px) {
    .solutions {
        padding: 80px 0;
    }

    .solutions__main {
        padding: 44px;
    }

    .solutions__main h3, .solutions__main p {
        max-width: 429px;
    }

    .solutions__imgs img:nth-child(1) {
        right: 180px;
    }

    .solutions__imgs img:nth-child(2) {
        right: 44px;
    }
}

@media (max-width: 992px) {
    .solutions__title {
        margin-bottom: 60px;
    }

    .solutions__main {
        margin-bottom: 44px;
    }

    .solutions__imgs {
        margin-top: 40px;
        display: flex;
        justify-content: end;
        position: relative;
    }

    .solutions__imgs img:nth-child(1) {
        position: absolute;
        left: 50px;
        right: unset;
        width: unset;
        height: 97%;
    }

    .solutions__imgs img:nth-child(2) {
        position: static;
        width: 55%;
        margin-left: auto;
        margin-right: 60px;
        margin-bottom: -138px;
        z-index: 1;
    }
}

@media (max-width: 600px) {
    .solutions__main {
        padding: 24px 20px 0 20px;
        overflow: hidden;
    }

    .solutions__main-tag {
        font-size: 10px;
        margin-bottom: 8px;
    }

    .solutions__main h3 {
        font-size: 24px;
        line-height: 30px;
        max-width: unset;
        margin-bottom: 20px;
    }

    .solutions__main p {
        font-size: 16px;
        line-height: 20px;
        max-width: unset;
        margin-bottom: 20px;
    }

    .solutions__imgs {
        margin-top: 60px;
    }

    .solutions__imgs img:nth-child(1) {
        height: 100%;
        left: 10px;
    }

    .solutions__imgs img:nth-child(2) {
        width: 60%;
        margin-right: 10px;
    }

    .solutions__main button {
        margin-top: 20px;
        width: 100%;
    }
}
